<!DOCTYPE html>
<html ng-app>
  <head>
    <title>ngClass-Directive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <style>
      .checkboxList {
        color:#000;
        width:300px; 
        list-style-type:none;
      }
      .unchecked {
        background-color:#eee;
        color:black;
      }
      .checked {
        background-color:black;
        color:white;
      }
      .head, .add {
        margin-left:40px;
      }
      .container {
        padding: 50px;
        max-width: 500px;
      }
    </style>
    <script>
      function TodoCtrl($scope) {
        
        $scope.todos = [
          {text:'Learn Angular'},         
          {text:'Build an app'},
          {text:'Get a job'}
        ];
        
        $scope.addTodo = function () {
          $scope.todos.push({text:$scope.formTodoText});
          $scope.formTodoText = ''
        };
       
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="TodoCtrl">
      <h2 class="head">To do ...</h2>
      <ul class="checkboxList">
        <li class="unchecked" ng-repeat="todo in todos" ng-class="{'checked': todo.check}">
          <input type="checkbox" ng-model="todo.check">
          <span>{{todo.text}}</span>
        </li>
      </ul>
      <form class="add">
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant>
        <button class="btn btn-default btn-sm" ng-click="addTodo()">Add Task</button>
      </form>
    </div>
  </body>
  
</html>