{% extends "base.html" %}

{% block content %}

<div ng-app="earningsApp" ng-controller="earningsController">

  <h1 class="centered">Waitstaff Calculator<br><p class="small">Angular + Flask</p></h1>

  <hr>
  <br>

  <!-- user inputs -->
  <div class="row">
    <div id="box" class="col-md-3 col-md-offset-1">
      <h2>Meal Details</h2>
      <br>
      <!-- call validate() function on click/submit -->
      <form name="mealForm" ng-submit="validate(); submitted=true;"> 
        <div class="form-group">
          <p style="text-align:left">
            Meal Price:&nbsp;
            <input class="form-input" type="number" placeholder=" $" name="mealData.mealPrice" ng-model="mealData.mealPrice" min="0" step=".01" required>
          </p>
        </div>
        <div class="form-group">
          <p style="text-align:left">
            Tax Rate:&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-input" type="number" placeholder=" %"name="mealData.taxRate" ng-model="mealData.taxRate" min="0" max="100" step=".01" required>
          </p>
        </div>
        <div class="form-group">
          <p style="text-align:left">
           Tip Rate:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="form-input" type="number" placeholder=" %" name="mealData.tipRate" ng-model="mealData.tipRate" min="0" max="100" step=".01" required>
          </p>
        </div>          
        <input class="btn btn-default btn-sm" type="submit" value="Submit">
        <input class="btn btn-default btn-sm" type="button" value="Clear" ng-click="clear()"> 
        <br><br>        
      </form>
      <br>
    </div>

    <!-- summary -->
    <div class="col-md-6 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <!-- customer totals -->
          <h2 class="centered">Total Charges<br><p class="small">per customer</p></h2>
          <br>
          <p>Subtotal: {{"{{ charges.subtotal | currency}}"}}</p>
          <p>Tip: {{"{{ charges.tip | currency}}"}}</p>
          <p>Total: {{"{{ charges.total | currency}}"}}</p>
        </div>
        <div class="col-md-6">
          <!-- all totals -->
          <h2 class="centered">Total Earnings<p class="small">all customers</p></h2>
          <br>
          <p>Total Tips: {{"{{ items.total_tips | currency}}"}}</p>
          <p>Meal count: {{"{{ items.total_meals }}"}}<p>
          <p>Average tip: {{"{{ items.average_tip | currency }}"}}<p>
          <br>
        </div>        
      </div>
    </div>  

</div>

{% endblock %}