<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>ngRepeat examples</title>
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            .container {
                padding-top: 50px;
                max-width: 500px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>ngRepeat Examples</h1>
            <br><br>
            <div ng-controller="MainController">
                <h3>Example 1: <small>Basic example of iterating through an array with primitives</small></h3>
                    <div ng-repeat="element in first">
                        {{ element }}
                    </div>
                <h3>Example 2: <small>Example of iterating through an object using start and end</small></h3>
                    <div ng-repeat-start="user in second">
                        <strong>{{ user.name }}</strong>: {{ user.age }}
                    </div>
                    <hr ng-repeat-end>
                <h3>Example 3: <small>Example of iterating through an object, outputting each attribute</small></h3>
                    <div ng-repeat="attr in third">
                        {{ attr }}
                    </div>
                <h3>Example 4: <small>Example of iterating through an array, using the index value of each element to output duplicates</small></h3>
                    <div ng-repeat="element in fourth track by $index">
                        {{ element }}
                    </div>
                </h3>
            </div>
        </div>
        <br>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
  </body>
</html>