Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.11.3
MarkupSafe==0.19
SQLAlchemy==0.9.3
Werkzeug==0.9.4
behave==1.2.4
enum34==0.9.23
itsdangerous==0.23
parse==1.6.3
parse-type==0.3.4
selenium==2.40.0
six==1.6.1
wsgiref==0.1.2
