<div class="table">
  <h3>Enter details for Meal {{mealCount}}:</h3>
  <br>
  <form ng-submit="addTransaction(); results=true; counter=true">
    <div class="form-group">
      <label for="price">Base Meal Price: $</label>
      <input type="number" class="form-control" name="price" ng-model="price" min="0" step=".01" placeholder="0.00" required/>
    </div>
    <div class="form-group">
      <label for="tax">Tax Rate: %</label>
      <input type="number" class="form-control" name="tax" ng-model="tax" placeholder="0.00" min="0" max="100" step=".01" required/>
    </div>
    <div class="form-group">
      <label for="tip">Tip Percentage: %</label>
      <input type="number" class="form-control" name="tip" ng-model="tip" placeholder="0.00" min="0" max="100" step=".01" required/>
    </div>
    <div>
      <button class="btn btn-default" type="submit">Add Meal</button>
      <button type="reset" ng-click="cancelForm()" class="btn btn-default">Cancel</button>
    </div>
  </form>
</div>