{% extends "layout.html" %}
{% block content %}
    <form action="/results" method="post" role="form">
      <div id="error">{{tip_error}}</div>
      <br>
      <div name="form_field" class="form-group">
        <input type="text" name="meal_cost" class="form-control" placeholder="Enter meal cost">
      </div>
      <div name="form_field" class="form-group">
        <input type="text" name="tip_percentage" class="form-control" placeholder="Enter tip percentage">
      </div>
      <input type="submit" id="submit" class="btn btn-default" value="calculate">
    </form>
{% endblock %}
