<!DOCTYPE html>
<html>
  <head>
    <title>Test Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        text-align: center;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% for name in names %}
        <h1>Hello, {{name}}</h1>
      {% endfor %}
      <br>
      <img src={{url}}>
    <div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
