<!DOCTYPE html>
<html ng-app>
  <head>
    <title>ngClass-Directive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <style>
      .selected {
        color: red; 
      }
      .background {
        background-color: blue;
        color: white;
      }
      .purple {
        background-color: purple;
        color: pink;
      }
      .bigger {
        font-size: 75px;
        background-color: #eee;
      }
      .container {
        padding: 50px;
        max-width: 500px;
      }
    </style>
  </head>
 
  <body>
    <div class="container">
      <div class="row">
        <form role="form">
          <h1>ngClass example<br><span class="small">String Syntax</h1>
          <br>
          <div class="form-group">
            <p>Use the dropdown to pick the class you want assigned to the below 'h2' element. Or type the name of the class in the input box.</p>
            <select class="form-control" ng-model="text">
              <option value="">- Please pick a class -</option>
              <option>selected</option>
              <option>background</option>
              <option>purple</option>
              <option>text-danger</option>
              <option>bigger</option>
            </select>
            <br>
            <input class="form-control" ng-model="text" placeholder="- Please type a class -">
            <br>
            <h2 ng-class="text">Watch me change colors</h2>
          </div>
        </form>
      </div>
    </div>
    
  </body>
 
</html>