<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody ng-repeat="checkoutItem in cartItems">
        <tr>
          <td>{{checkoutItem.name}}</td>
          <td>
            <select
              ng-options="option for option in cartQuantityOptions"
              ng-change="updateQuantity()"
              ng-model="selectedOption"
              ng-init="selectedOption=checkoutItem.quantity">
            </select>
          </td>
          <td>${{checkoutItem.subtotal || currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <h3>Total: ${{total || currency}}</h3>
  </div>
</div>