{% extends "layout.html" %}
{% block content %}
  <form action="" method="post" role="form">
    <div id="error">{{form_error}}</div>
    <br>
    <div name="form_field" class="form-group">
      <input type="text" name="item" class="form-control" placeholder="Enter item">
    </div>
    <div name="form_field" class="form-group">
      <input type="text" name="amount" class="form-control" placeholder="Enter amount">
    </div>
    <input type="submit" id="submit" class="btn btn-primary" value="Add Item" />
  </form>
  <br>
  <div>
    <h2>Don't forget!</h2>
    <p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="center">Item</th>
          <th class="center">Amount</th>
          <th class="center">Complete?</th>
        </tr>
      </thead>
      <tbody>
        {% for key in my_items: %}
        <tr>
          <td>{{key}}</td>
          <td>{{my_items[key]}}</td>
          <td class="center"><button type="button" class="btn btn-primary btn-xs">X</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>      
    </p>
  </div>
{% endblock %}
