<div class="form-content">
	<div class="field">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value="{{name}}" required/>
	</div>
	<div class="field">
		<label for="description">Description</label>
		<textarea name="descrition" id="description" required>{{description}}</textarea>
	</div>
</div>
<div class="form-actions">
	<a href="/" class="cancel">Cancel</a>
	<input type="submit" class="save button" value="Save">
</div>