<!DOCTYPE html>
<html>
	<head>
		<title>First_Name Last_Name</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<body bgcolor= "#E6E6E6">
		<header>
			<div class="container">
				<h1 class="logo">First_Name Last_Name</h1>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('home')}}">Home</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
						<li><a href="{{ url_for('education')}}">Education</a></li>
					</ul>
				</nav></strong>
			</div>
		</header>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
