.smile {
  max-width: 125px;
}

.madLib-input {
  padding: 20px 0;
}

form .col-md-4 {
  margin-bottom: 15px;
  height: 50px;
}

form .col-md-4 .error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  margin: 1px;
}

.madlib {
  margin: 40px auto;
}

.madlib span {
  text-decoration: underline;
}

.madlib p {
  font-size: 24px;
}
