body {
  padding-top: 70px;
}

.selected {
  background-color: #5bc0de;
  cursor: pointer;
}

.not-selected:hover {
  background-color: #5bc0de;
  cursor: pointer;
}

.arrow:hover {
  cursor: pointer;
}
