<div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
  <div class="panel panel-primary" ng-repeat='item in data | filter:{name:search.name} | filter:category | orderBy: "price":sort'>
    <div class="panel-heading">
      <h3 class="panel-title">{{item.name}}</h3>
      <img ng-src="{{item.imageUrl}}" />
      Quantity:
      <input style="color:black" ng-model='quantity' type='number'
      name='quantity' min='0' max='100'/>
      <button ng-click="addToCart(item, quantity); totalCart(cart)" class="btn btn-md btn-warning">Add to Cart</button>
      <br>
      Price: {{item.price | currency}}
      Caffeine: {{item.caffeineScale}}
      Ingredients: {{item.ingredients}}
      Rating: {{item.rating}}
      InStock: {{item.inStock | bool:'yes':'no'}}
      Categories :
      <ul>
        <li ng-repeat="x in item.categories">
          {{x}}
        </li>
      </div>
    </div>
  </div>
