<!DOCTYPE html>
<html ng-app>
  <head>
    <title>ngClass-Directive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <style>
      body {
        color: white;
      }
      .zero {
        background-color: red; 
      }
      .one {
        background-color: blue;
      }
      .two {
        background-color: green;
      }
      .container {
        padding: 50px;
        max-width: 500px;
      }
    </style>
    <script>
      function employeeController($scope) 
      { 
        $scope.directory = [
          {name:'Michael Herman', department:'Accounting'},
          {name:"Thomas Herman", department:'Engineering'},    
          {name:'Jeffrey Herman', department:'Sales'}
        ];

        $scope.Employee = function(row) { 
          console.log(row)
          $scope.selectedRow = row;
        };
      }
    </script>
  </head>
  <body>
    <div class="container">
      <table class="table" ng-controller='employeeController'> 
        <tr ng-repeat='employee in directory' 
          ng-click='Employee($index)' 
          ng-class="{zero: $index == 0, one: $index == 1, two: $index == 2}">
          <td>{{employee.name}}</td> 
          <td>{{employee.department}}</td>
        </tr> 
      </table>
    </div>
  </body>
  
</html>
