<h1>All Kittens</h1>
<hr><br>

<p ng-if="!mainCtrl.kittens.length">No kittens!</p>

<div ng-if="mainCtrl.kittens.length">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Bio</th>
        <th>Image</th>
        <th>Likes</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="kitten in mainCtrl.kittens">
        <td>
          <span ng-click="mainCtrl.vote(kitten.id, '+')" class="glyphicon glyphicon-arrow-up"></span>
          <span ng-click="mainCtrl.vote(kitten.id, '-')" class="glyphicon glyphicon-arrow-down"></span>
        </td>
        <td>{{kitten.name}}</td>
        <td>{{kitten.bio}}</td>
        <td><img ng-src="{{kitten.url}}"></td>
        <td>{{kitten.likes}}</td>
        <td><a href="/#/comments/{{kitten.id}}" class="btn btn-primary btn-xs">View</a></td>
      </tr>
    </tbody>
  </table>
</div>
