<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Animation - part 2</title>
  <!-- styles -->
  <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="main.css" rel="stylesheet" media="screen">
</head>
  <body>
    <div class="container">
      <div ng-app='animateApp' ng-controller="animateController">
        <h1>Angular Animation - part 2</h1>
        <br><br>
        <label>Find an item from your grocery list</label><br>
        <input type="text" ng-model="search" class="search-query form-control" placeholder="Enter item">
        <br><br>
        <ul class="nav nav-pills">
          <li class="animate" ng-repeat="item in groceries | filter:search">
            <a href="#"> {{item}} </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="main.js" type="text/javascript"></script>
  </body>
</html>








