.container {
  text-align: center;
  max-width: 400px;
  padding-top: 50px;
}
.animate.ng-enter,
.animate.ng-leave
{
  -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}
