
{% extends "base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post action="/food_log">

<h3>Here is the food_log page!</h3>
<p>
    Please enter Food and Amount of Food in grams:
</p>
<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            
        </tr>
        <tr>
            <td><input type ="text" name ="food"></td>
            <td><input type="integer" name="quantity"></td>
            

        </tr>
        <p>Here are food nutrients:</p>
    </thead>
</table>
<input type="submit" class="btn btn-default">
<p>Here are your food nutrients:</p>
<table>
    <thead>
        <tr>
            <th>Calories</th>
            <th>Protein</th>
            <th>Carbohydrates</th>
            <th>Fats</th>
        </tr>
        <tr>
            <td><output name="calories">{{ calories }}</output></td>
            <td><output name="protein">{{ protein }}</output></td>
            <td><output name="carbohydrates">{{ carbohydrates }}</output></td>
            <td><output name="fats">{{ fats }}</output></td>


        </tr>
    </thead>
</table>


 
    <!--Food: <input type ="text" name ="food">
    Quantity: <input type="text" name="quantity">
    <br>-->
    <!--
    Food: <input type ="text" name ="food">
    Quantity: <input type="text" name="quantity">
    <br>
    Food: <input type ="text" name ="food">
    Quantity: <input type="text" name="quantity">
    <br>
    -->
    


</form>
<hr>
<ul>
{% for food in food_nutrient_list %}
    <li>{{food.name }}, {{ food.calorie }}, {{ food.protein }}, {{ food.carbohydrate }},  {{ food.fat }}</li>
{% endfor %}
</ul>
{% endblock %}





