img {
    min-height: 100%;
    max-height: 100%;
    max-width: 100%
}
div .fixed {
    height: 200px;
}
.flag {
    border-style: solid;
    border-width: 1px;
}
.table th, .table td {
    border-top: none !important;
}