<h1>Add New Item</h1>

<div class="content">
    <form method="POST" action="/">
        <div class="form-content">
            <div class="field">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" required/>
            </div>
            <div class="field">
              <label for="description">Description</label>
              <textarea name="description" id="description" required></textarea>
            </div>
        </div>
        <div class="form-actions">
            <a href="/" class="cancel">Cancel</a>
            <input type="submit" class="save button" value="Save">
        </div>
    </form>
</div>