<h1>{{name}}</h1>
<div class="content">
    <div class="view-content">
        <p>{{description}}</p>
    </div>
    <div class="view-actions">
        <a class="button view-action" href="/">back</a>
    </div>
</div>