<div class="container">
  <br>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="row">
      This site provides information about countries and their capitals.  Browse the list of countries by pressing the 'Browse Countries' button below.  Click on any of the countries in the list to see more detailed information about that country.
    </div>
    <div class="row">
      <br>
      <p>Data provided by:</p>
      <div class="frontpagetitle">
        <a href="http://www.geonames.org/">GeoNames</a>
      </div>
    </div>
  </div>
</div>
<p class="version">App version {{version}}</p>
