.container {
  text-align: center;
  max-width: 1000px;
  padding: 50px 0px;
}

hr {
  max-width: 25%;
}

#images {
  transition: 0.7s all ease-out;
}
#images.ng-hide-enter,
 {
  display: block !important;
}
#images.ng-hide-enter.ng-hide-enter-active {
  margin-left: -80px;
  opacity: 0;
}
#images.ng-hide-enter {
  margin-left: 0;
  opacity: 1;
}

