<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Form Validation</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<style type="text/css">
  .container { 
    padding-top: 50px; 
    max-width: 500px;
  }
</style>
  <body ng-app="validationApp" ng-controller="mainController">
    <div class="container">
      <h1>Basic Form Validation</h1>
      <br>
      <form name="userForm" ng-submit="submitForm()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="user.name" required>
          <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
          <label>Username</label>
          <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
          <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
          <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="user.email">
          <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>  
      </form>
    </div>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="main.js"></script>
</html>