<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Waitstaff Calculator, powered by Angular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylsheets -->
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="main.css" rel="stylesheet" media="screen">
  </head>

    <br>
    <div class="container" ng-app="waitstaff" ng-controller="waitstaffController">

      <!-- user inputs -->
      <div class="row">
        <div class="centered" class="col-md-3 col-md-offset-4">

          <h3 class="header">Waitstaff<br>Calculator<br><p class="lead">Powered by Angular</p></h3>
          <span class="glyphicon glyphicon-cutlery"></span>
          <hr>
          <h4 class="header">Meal Details</h4>
          <br>
          <!-- call validate() function on click/submit -->
          <form role="form" name="mealForm" ng-submit="validate(); submitted=true;"> 
            <div class="form-group">
              <p style="text-align:left">Meal Price:&nbsp;{{mealData.mealPrice | currency}}</p>
              <input class="form-input" type="range" name="mealData.mealPrice" ng-model="mealData.mealPrice" min="0" max="100" step=".01" required>
            </div>
            <div class="form-group">
              <p style="text-align:left">Tax Rate:&nbsp;&nbsp;&nbsp;&nbsp;{{mealData.taxRate}}%</p>
              <input class="form-input" type="range" name="mealData.taxRate" ng-model="mealData.taxRate" min="0" max="100" step=".01" required>
            </div>
            <div class="form-group">
              <p style="text-align:left">Tip Rate:&nbsp;&nbsp;&nbsp;&nbsp;{{mealData.tipRate}}%</p>
              <input class="form-input" type="range" name="mealData.tipRate" ng-model="mealData.tipRate" min="0" max="100" step=".01" required>
            </div>          
            <input class="btn btn-primary btn-sm" type="submit" value="Submit">
            <input class="btn btn-success btn-sm" type="button" value="Clear" ng-click="clear()"> 
            <br>       
          </form>

          <hr>

          <!-- all totals -->
          <h4 class="header">Total Earnings</h4>
          <br>
          <p style="text-align:left">Total Tips:&nbsp;&nbsp;&nbsp;&nbsp;{{ earnings.tip_total | currency}}</p>
          <p style="text-align:left">Meal count:&nbsp;&nbsp;{{ earnings.meal_count }}<p>
          <p style="text-align:left">Average tip:&nbsp;&nbsp;{{ earnings.avg_tip | currency }}</p> 
          <div class="centered">
            <input class="btn btn-danger btn-sm" type="button" value="Reset" ng-click="reset()">
          </div>
          <br>
        </div>        
      </div>  

    </div>

    <!-- github link -->
    <a href="https://github.com/mjhea0/thinkful-mentor/tree/master/angular/waitstaff-calc-mobile"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="main.js"></script>

  </body>
</html>