.form-input {
  min-width: 200px;
}

.centered {
  text-align: center;
}

hr {
  max-width: 100px;
}

input[type=range] {
  padding: .7em 0 0;
  background: 0 0;
  border: 0;
  border-bottom: 3px solid #d5d5d5;
  height: 1px;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
}

.container {
  max-width: 200px;
}

.lead {
  font-size: 20px;
}

.header {
  font-style: italic;
  font-weight: bold;
}