<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Rango says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Rango says... hello world!</h1>
        {% endif %}

        <br>
        <h2>Top 5 Categories:</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

        <br>
        <h2>Top 5 Pages:</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li>{{ page.title }}</li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}
       <a href="/rango/add_category/">Add a New Category</a>
       <br>
       <a href="/rango/register/">Register Here</a>
       <br>
       <a href="/rango/login/">Login</a>
    </body>
</html>
