<!DOCTYPE html>
<html ng-app="ngFlashcards">
  <head>
   <title>Angular Flashcards</title>
    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <style>
      .container {text-align:center; padding-top:50px;}
    </style>
  </head>
  <body>
    <div class="container" ng-controller="mainController">
      <h1>Flashcards are cool</h1>
      <br>
      <button ng-show="!hasStarted" type="button" class="btn btn-primary btn-lg" ng-click="startQuiz()">Start</button>
      <!-- cards -->
      <div ng-if="hasStarted">
        <p>{{currentCard.question}}</p>
        <div class="radio-inline" ng-repeat="choice in currentCard.choices">
          <label><input type="radio" ng-click="getChoice(choice)">{{choice}}</label><br><br>
        </div>
        <br><br>
        <button type="button" class="btn btn-primary btn-lg" ng-click="gradeCurrentCard()">submit</button>
        <button type="button" class="btn btn-success btn-lg" ng-click="endQuiz()">quit</button>
      </div>
    </div>
  <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>