h1 {font-weight:bold;text-transform:uppercase; 
	color:#F5C162;background-color:#0A2A34; background-size:10%;
	border-style:solid;
	border-width:8px;border-radius: 15px; border-color: #0A2A34 ;
	letter-spacing:10pt;word-spacing:6pt;
	font-size:30px;text-align:center;font-family:helvetica, sans-serif;line-height:1;