.container {
  text-align: center;
  max-width: 700px;
  padding-top: 50px;
}

#quantity-input, #price-input {
  max-width: 75px;
}

.centered {
  text-align: center;
}

.alert-text {
  color: #f04124;
  font-style: italic;
}

