<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
  <meta charset="UTF-8">
  <title>Multiplication Table</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
</head>
<body>
  <div ng-controller="MultiplicationCtrl" initial-number-limit="10">
    <input type="number" ng-model="numberLimit" placeholder="Enter a number">
    <table>
      <tr ng-repeat="numberA in numbers">
        <td ng-repeat="numberB in numbers">
          {{ compute(numberA, numberB) }}
        </td>
      </tr>
    </table>
  </div>
   <script src="js/myApp.js" type="text/javascript"></script>
</body>
</html>

