<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 400px;
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Recipe Search!</h1>
      <br>

    <!-- search form -->
    <form role="form" method="POST">

      <div class="form-group">
        <label><h4>Ingredient<h4></label>
        <input type="text" class="form-control" name="ingredient" placeholder="Enter an ingredient..." required>
      </div>

      <label><h4>Cuisine</h4></label>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-american"> American</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-thai"> Thai</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-french"> French</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-german"> German</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-greek"> Greek</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-indian"> Indian</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-italian"> Italian</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="cuisine" value="cuisine^cuisine-mexican"> Mexican</label>
      </div>

      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <br><br>
    <hr>

    {% if recipe_response %}
      {% for recipe in recipe_response["matches"] %}
        {% if recipe["recipeName"] %}
          <h2><a href="http://www.yummly.com/recipe/{{ recipe["id"] }}">{{ recipe["recipeName"] }}</a></h2>
        {% endif %}
        {% if recipe["imageUrlsBySize"] %}
          <p><img src={{ recipe['imageUrlsBySize']['90'].replace('s90-c', 's230-c') }} alt="Recipe photo"></p>
        {% endif %}
        {% if recipe["ingredients"] %}
        <ul>
          {% for ingredient in recipe["ingredients"] %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <hr>
      {% endfor %}
    {% endif %}

    {% if errors %}
      {% for error in errors %}
        <li class="alert alert-warning">{{ error }}</li>
      {% endfor %}
    {% endif %}

    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>