body {
  background-color: #B7BBBF;
}

.container {
  margin-top: 50px;
  border: 1px solid gray;
  padding-bottom: 20px;
  background-color: white;
}

.input {
  font-weight: bold;
}

#smile {
  max-width: 125px;
  max-height: auto;
}

img {
  padding: 10px 0px;
}

#male-text, #female-text, #reset-btn {
  display: none;
}

.dropdown {
  max-width: 150px;
}