<br>
<div class="row">

  <div class="col-md-3">
    <h4>Enter the Meal Details</h4>
    <form ng-submit="submit()" name="mealForm">
      <div class="form-group">
          <input class="form-input" type="number" placeholder="Meal Price: $" id="meal_price" ng-model="input.meal_price" required>
      </div>
      <div class="form-group">
          <input class="form-input" type="float" placeholder="Tax Rate: %" id="tax_rate" ng-model="input.tax_rate" required>
      </div>
      <div class="form-group">
          <input class="form-input" type="number" placeholder="Tip Percentage: %" id="tip_percentage" ng-model="input.tip_percentage" required>
      </div>
      <input class="btn btn-default btn-sm" type="submit" value="Submit">
      <input class="btn btn-default btn-sm" type="button" value="Clear" ng-click="cancel()">
    </form>
  </div>

  <div class="col-md-3">
    <h4>Customer Charges</h4>
      <div class="form-group">
          <span class="subtitle">Subtotal:</span>
          <sapn class="result">{{subtotal | number:2 | currency }}</sapn>
      </div>
      <div class="form-group">
          <span class="subtitle">Tip:</span>
          <sapn class="result">{{tip | number:2 | currency}}</sapn>
      </div>
      <div class="form-group">
          <span class="subtitle">Total:</span>
          <sapn class="result">{{total | number:2 | currency}}</sapn>
      </div>
  </div>

</div>

