Flask==0.10.1
Flask-Login==0.2.10
Flask-OpenID==1.2.1
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.11.3
MarkupSafe==0.19
SQLAlchemy==0.9.3
WTForms==1.0.5
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
psycopg2==2.5.2
python-openid==2.2.5
wsgiref==0.1.2
